#pragma code_page(65001) // UTF-8
#include <verrsrc.h>

#define PROJECT_VERSION             ${CMAKE_PROJECT_VERSION_MAJOR},${CMAKE_PROJECT_VERSION_MINOR},${CMAKE_PROJECT_VERSION_PATCH},${CMAKE_PROJECT_VERSION_TWEAK}
#define PROJECT_VERSION_STR         "${PROJECT_VERSION_SHORT}${VERSION_SUFFIX}"

#ifdef _DEBUG
#define PROJECT_FILEFLAGS               VS_FF_DEBUG
#else
#define PROJECT_FILEFLAGS               0
#endif

VS_VERSION_INFO VERSIONINFO
FILEVERSION     PROJECT_VERSION
PRODUCTVERSION  PROJECT_VERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       PROJECT_FILEFLAGS
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_DLL
FILESUBTYPE     VFT2_UNKNOWN
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName",      "ʕ •ᴥ•ʔ acidicoala"
            VALUE "FileDescription",  "Free DLC for everyone ʕ ᵔᴥᵔʔ"
            VALUE "FileVersion",      PROJECT_VERSION_STR
            VALUE "InternalName",     "ScreamAPI"
            VALUE "LegalCopyright",   "Fuck the copyright 🖕"
            VALUE "OriginalFilename", "${EOSSDK_DLL}.dll"
            VALUE "ProductName",      "ScreamAPI"
            VALUE "ProductVersion",   PROJECT_VERSION_STR
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1252
    END
END